$orange: hsl(25, 97%, 53%)
$white: hsl(0, 0%, 100%)
$light_grey: hsl(217, 12%, 63%)
$medium_grey: hsl(216, 12%, 54%)
$dark_blue: hsl(213, 19%, 18%)
$opacity_blue: #b2b8c214
$very_dark_blue: hsl(216, 12%, 8%)
$font_family: 'Overpass', sans-serif

*,
*::after,
*::before
  box-sizing: border-box
  margin: 0
  padding: 0

html,
body
  height: 100%

body
  min-height: 100vh
  display: grid
  grid-template-columns: 1fr
  align-content: center
  font-size: 14px
  line-height: 21px
  font-family: $font_family
  color: $medium_grey
  background-color: $very_dark_blue

button
  background-color: $orange
  color: $white
  text-transform: uppercase
  width: 100%
  padding: 13px
  border: none
  outline: 0
  border-radius: 40px
  font-weight: 700
  font-family: $font_family
  font-size: 16px
  line-height: 21px
  letter-spacing: 1px
  margin-top: 23px
  cursor: pointer
  
  &:hover
    background-color: $white
    color: $orange

  &:active
    background-color: darken($white, 10%)

  &:focus
    background-color: darken($white, 15%)

.container
  max-width: 1220px
  margin: 0 auto
  padding: 23px

.card
  background-color: $dark_blue
  padding: 26px
  border-radius: 16px
  height: 52vh

  &.submited
    display: none

  &.ready
    display: block
    animation: bounceIn 1s ease 0s 1 normal forwards

    .header-icon
      animation: swirlIn 1s ease 0s 1 normal forwards

    .rate-result
      animation: bounceIn 2s ease 0s 1 normal forwards

  .title
    font-size: 24px
    line-height: 30px
    color: $white
    margin-bottom: 12px

  .icon
    background-color: $opacity_blue
    width: 40px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    margin-bottom: 20px

  p
    margin-bottom: 31px

.rate
  &-feedback
    display: flex
    flex-wrap: wrap
    gap: 10px
    justify-content: space-between
    list-style: none
    counter-reset: listCounter

  &-voted
    text-align: center
    display: none

    .header-icon
      img
        width: 144px
        margin-top: 10px

  &-result
    background-color: $opacity_blue
    color: #c97437
    display: inline-block
    padding: 7px 13px
    border-radius: 20px
    font-size: 15px
    margin-top: 17px
    margin-bottom: 27px

input[type=radio]
  display: none

  + label
    position: relative
    cursor: pointer
    counter-increment: listCounter

    &:hover
      &::before
        background-color: $orange
        color: $white
        transition: 1s all

    &::before
      content: counter(listCounter)
      background-color: $opacity_blue
      cursor: pointer
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 40px
      height: 40px
      border-radius: 50%
      font-weight: 700

  &:checked
    + label::before
      background: $light_grey
      color: $white

      &:hover
        background-color: red
        color: $white
    
@keyframes bounceIn
  0%
    animation-timing-function: ease-in
    opacity: 0
    transform: scale(0)

  38%
    animation-timing-function: ease-out
    opacity: 1
    transform: scale(1)

  55%
    animation-timing-function: ease-in
    transform: scale(0.7)

  72%
    animation-timing-function: ease-out
    transform: scale(1)

  81%
    animation-timing-function: ease-in
    transform: scale(0.84)

  89%
    animation-timing-function: ease-out
    transform: scale(1)

  95%
    animation-timing-function: ease-in
    transform: scale(0.95)
  
  100%
    animation-timing-function: ease-out
    transform: scale(1)

@keyframes swirlIn
  0%
    opacity: 0
    transform: rotate(-540deg) scale(0)

  100%
    opacity: 1
    transform: rotate(0) scale(1)